<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bypass</title>
</head>

<body>
    <ul>
        <li><a href="/shopping_space">スペース禁止</a></li>
        <li><a href="/shopping_comma">カンマ禁止</a></li>
        <li><a href="/shopping_quot">シングルクォートをエスケープ</a></li>
    </ul>
</body>

</html>